<div class="container py-5" style="background-color: white;">
    <div class="row align-items-center">
        <div class="col-md-5 text-center"> 
            <img src="./assets/img/2.jpg"
                 class="img-fluid rounded-circle shadow"             
                 style="width:250px; height:250px; object-fit:cover;">
        </div>

        <div class="col-md-7" style="margin-left: -100px;">
            <p class="fs-4 fw-bold text-dark mb-1">The Second Heading Is Pretty Cool Too</p>
            <p class="text-secondary mb-2">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.      
            </p>
            <p class="text-secondary mb-0">
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>
</div>